<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="text-center my-5">
          <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="logo" width="100">
        </div>
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4">Register</h1>
            <form method="POST" (ngSubmit)="register()" [formGroup]="fg">
              <div class="mb-3">
                <label class="mb-2 text-muted" for="userId">User ID</label>
                <input formControlName="userId" id="userId" type="text" class="form-control" name="userId"/>
                <div *ngIf="ifError('userId')" class="text-danger">Insert a valid User ID (numbers only)</div>

              </div>

              <div class="mb-3">
                <label class="mb-2 text-muted" for="mobile">Mobile</label>
                <input formControlName="mobile" id="mobile" type="text" class="form-control" name="mobile" value=""
                       required>
                <div *ngIf="ifError('mobile')" class="text-danger">
                  Insert a valid mobile number
                </div>
              </div>

              <div class="mb-3">
                <label class="mb-2 text-muted" for="password">Password</label>
                <input formControlName="password" id="password" type="password" class="form-control" name="password">
                <div *ngIf="ifError('password')" class="text-danger">
                  Insert a valid password
                </div>
              </div>

              <p class="form-text text-muted mb-3">
                By registering you agree with our terms and condition.
              </p>

              <div class="align-items-center d-flex">
                <button type="submit" class="btn btn-primary ms-auto">
                  Register
                </button>
              </div>
            </form>
          </div>
          <div class="card-footer py-3 border-0">
            <div class="text-center">
              Already have an account? <a routerLink="/" class="text-dark">Login</a>
            </div>
          </div>
        </div>
        <div class="text-center mt-5 text-muted">
          Copyright &copy; 2022 &mdash; Celloscope
        </div>
      </div>
    </div>
  </div>
</section>
